<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="css/admin_home_page.css" rel="stylesheet">
</head>
<body>
<header id="head">
    <div class="menu-area">
        <a class="logo" href="/return-home">Blood Donation System</a>
        <ul class="nav">

            <li>
                <a href="/donorList"> Donor List</a>
            </li>
            <li>
                <a href="/patients">Patient List</a>
            </li>
            <li>
                <a href="/bloodList">Blood List</a>
            </li>
            <li>
                <a href="/logs">Operations</a>
            </li>


        </ul>
    </div>
</header>
</body>
</html>
