<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Edit Donor Page</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Blood Donation System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>
<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Update Donor </h1>
      <div class = "card-body">
        <form th:action="@{/donorList/{id} (id=${donor.id})}" th:object = "${donor}" method="POST">
          <div class ="form-group">
            <label> Donor Name </label>
            <input
                    type = "text"
                    name = "donor_name"
                    th:field = "*{donor_name}"
                    class = "form-control"
                    placeholder="Enter Donor Name"
            />
          </div>

          <div class ="form-group">
            <label> Donor Phone Number </label>
            <input
                    type = "tel"
                    name = "donor_mobile"
                    th:field = "*{donor_mobile}"
                    class = "form-control"
                    placeholder="Enter Donor Phone Number"
                    title="Must contain exactly 11 numbers" maxlength="11" required
            />
          </div>

          <div class ="form-group">
            <label> Donor Age </label>
            <input
                    type = "number"
                    name = "donor_age"
                    th:field = "*{donor_age}"
                    class = "form-control"
                    placeholder="Enter Donor Age"
            />
          </div>
          <div class ="form-group">
            <label> Donor Gender</label>
            <input
                    type = "text"
                    name = "donor_gender"
                    th:field = "*{donor_gender}"
                    class = "form-control"
                    placeholder="Enter Donor Gender"
            />
          </div>
          <div class ="form-group">
            <label> Donor Blood Group </label>
            <input
                    type = "text"
                    name = "donor_bloodGroup"
                    th:field = "*{donor_bloodGroup}"
                    class = "form-control"
                    placeholder="Enter Donor Blood Group"
            />
          </div>
          <div class ="form-group">
            <label> Donor Address </label>
            <input
                    type = "text"
                    name = "donor_address"
                    th:field = "*{donor_address}"
                    class = "form-control"
                    placeholder="Enter Donor Adress"
            />
          </div>





          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>