<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="css/home_page.css" rel="stylesheet">
</head>
<body>
<header id="head">
    <div class="menu-area">
        <a class="logo" href="#">Blood Donation System</a>
        <ul class="nav">

            <li>
                <a href="#about">About Us</a>
            </li>
            <li>
                <a href="#portfolio">Why Donate?</a>
            </li>
            <li>
                <a href="/donor">Become A Donor</a>
            </li>
            <li>
                <a href="/patient">Need Blood?</a>
            </li>
            <li>
                <a href="#contact">Contact Us</a>
            </li>
            <li>
                <a href="/admin">Admin</a>
            </li>

        </ul>
    </div>
</header>

<section id="about">
    <div class="content">
        <h1>About Us</h1>
        <p> Blood bank is a place where blood bag that is collected from blood donation
            events is stored in one place.The term "blood bank" refers to a division of a hospital laboratory
            where the storage of blood product occurs and where proper testing is performed to reduce the risk
            of transfusion related events.The process of managing the blood bag that is received from the blood donation
            events needs a proper and systematic management.The blood bank must be handled with care and
            treated thoroughly as it is related to someone's life.The development of Web-based Blood Donation Management
            System(BDMS) is proposed to provide a management functional to the blood bank in order to handle
            the blood bag and to make entries of the individuals who want to donate blood and who are in need.
        </p>
    </div>
</section>
<section id="portfolio">
    <div class="content">
        <h1>Why Donate Blood?</h1>
        <p>Blood is the most precious gift that anyone can give to another person -the gift of life.
            A  decision to donate your blood can save a life,or even several if your blood is separated into
            its components -red cells,platelets and plasma -which can be used individually for patients with specific
            conditions.Safe blood saves lives and improves health.Blood transfusion is needed for:
            Women with complications of pregnancy , such as ectopic pregnancies and haemorrhage before,during or after
            childbirth.
            Children with severe anemia often resulting from malaria or malnutrition.
            People with severe trauma following man-made and natural disasters.
            Many complex medical and surgical procedures and cancer patents.
            It Is also needed for regular transfusions for people with conditions such as thalassaemia and sickle cell disease and is used to make products such as clotting Tactors for people with haemopnilla. There is a constant need for regular blood supply because blood can be stored for only a limited time before use. Regular
            blood donations by a sufficient number of healthy people are needed to ensure
            that sate blood will be available whenever and wherever it is needed.</p>
    </div>
</section>


<section id="contact">
    <div class="content">
        <h1>Contact us</h1>
        <p>Email:contactus@example.com</p>
        <p>Tel:+905381544554</p>
        <p>Address:#212,Groud Floor,7th Cross Road Layout,Izmir,Turkey 35390</p>
    </div>
</section>
</body>
</html>
