<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Patient</title>
  <link rel ="stylesheet" href="css/user.css">
</head>
<body>
<div class="form">
  <form method="post" action="/adminNewPat" th:object="${newPatientReq}">
    <h2>New Patient</h2>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="patient_name" placeholder="Full Name" required>
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="tel" name="patient_mobile" placeholder="Mobile Number" pattern="(?=.*\d).{11,}" title="Must contain exactly 11 numbers" maxlength="11" required>
    </div>

    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="number" name="patient_age" placeholder="Age" required>
    </div>
    <div class="select-menu">
      <label for="gender">Choose Gender:</label>
      <select name="patient_gender" id="gender" required>
        <option value="">Please choose your gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>

      </select>
    </div>
    <div class="select-menu">
      <label for="bloodgroup">Blood Group:</label>
      <select name="patient_bloodgroup" id="bloodgroup" required>
        <option value="">Please choose your blood group</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="0+">0+</option>
        <option value="0-">0-</option>
      </select>
    </div>
    <div class="input-box">
      <i class="fa fa-user" aria-hidden="true"></i>
      <input type="text" name="patient_address" placeholder="Address" required>
    </div>
    <div class="input-box">
      <input type="submit"name="sign-in" value="Add Patient"></button>
    </div>
  </form>
</div>

</body>
</html>